// Customizes the default colors of the element ui

$--color-primary: #30a9de !default;
$--color-light: #fafafa;
$--color-light-secondary: #e4e4e4;
$--color-dark: #1b1d1c;
$--color-dark-secondary: #2f3130;

$--color-primary-light-1: mix(
  $--color-light,
  $--color-primary,
  10%
) !default; /* 53a8ff */
$--color-primary-light-2: mix(
  $--color-light,
  $--color-primary,
  20%
) !default; /* 66b1ff */
$--color-primary-light-3: mix(
  $--color-light,
  $--color-primary,
  30%
) !default; /* 79bbff */
$--color-primary-light-4: mix(
  $--color-light,
  $--color-primary,
  40%
) !default; /* 8cc5ff */
$--color-primary-light-5: mix(
  $--color-light,
  $--color-primary,
  50%
) !default; /* a0cfff */
$--color-primary-light-6: mix(
  $--color-light,
  $--color-primary,
  60%
) !default; /* b3d8ff */
$--color-primary-light-7: mix(
  $--color-light,
  $--color-primary,
  70%
) !default; /* c6e2ff */
$--color-primary-light-8: mix(
  $--color-light,
  $--color-primary,
  80%
) !default; /* d9ecff */
$--color-primary-light-9: mix(
  $--color-light,
  $--color-primary,
  90%
) !default; /* ecf5ff */

$--color-success: #67c23a !default;
$--color-warning: #e6a23c !default;
$--color-danger: #f56c6c !default;
$--color-info: #909399 !default;

/* icon font path, required */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

/* region Font Faces */

@font-face {
  font-family: "Libre Franklin";
  src: url("./fonts/LibreFranklin-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("./fonts/LibreFranklin-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("./fonts/LibreFranklin-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("./fonts/LibreFranklin-ExtraLight.ttf");
  font-weight: 200;
}

@import "~element-ui/packages/theme-chalk/src/index";

* {
  font-family: "Libre Franklin", sans-serif;
}

// Dark theme resets

body {
  background-color: $--color-dark;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: $--color-light-secondary;
}
